@mixin translate($x,$y){
	-webkit-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    transform: translate($x, $y);
}
@mixin transition($s,  $effect){

		-webkit-transition: all $s $effect;
		-o-transition: all $s $effect;
		transition: all $s $effect;
}

@mixin border($size,$color){
	border: $size solid $color
}

@mixin paddingY($padd){
	padding-top: $padd !important;
    padding-bottom: $padd !important;

}

@mixin paddingX($padd){
	padding-left: $padd !important;
    padding-right: $padd !important;

}

